.header{
    display: block;
    text-align: center;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;

    width: 1000px;
    height: 50px;
    padding: 10px;
}

.menuItem {
    display: block;
    justify-content: baseline;
    text-align: center;

    padding: 5px;
    width: 600px;
    height: 40px;
}

.maunuItemBtn{
    cursor: pointer;
    background-color: aquamarine;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    margin: 2px;
    width: 150px;
    height: 35px;
}

.maunuItemBtn:hover{
    background-color: beige;
}
